html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container, .container > iframe {
  width: 100%;
  height: 80%;
}

.container > iframe {
  width: 100%;
}

#bSubmitReservationOptions {
  text-align: right;
}

#ddForm {
  height: 100%;
  width: 100%;
}

#optionsReservation {
  float: left;
}

#appTitle {
  text-align: center;
}

#login {
  float: right;
}

#appTitle a:hover, #appTitle a:visited, #appTitle a:active {
  style: none;
}

#infosZoe {
  background-color: grey;
  height: 15%;
  width: 100%;
  bottom: 0;
  position: fixed;
}

#infosZoe img {
  display: inline;
  width: 10%;
  height: 100%;
  position: absolute;
  border: 1px solid black;
}

#informations {
  vertical-align: middle;
  padding-left: 12%;
}
