html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container, .container > iframe {
  height: inherit;
}

.container > iframe {
  width: 80%;
}

#bSubmitReservationOptions {
  text-align: right;
}

#ddForm {
  height: 100%;
  width: 100%;
}

#optionsReservation {
  float: left;
}

#appTitle {
  text-align: center;
}

#login {
  float: right;
}

#appTitle a:hover, #appTitle a:visited, #appTitle a:active {
  style: none;
}

#infosZoe {
  background-color: grey;
  bottom: 0;
  position: fixed;
}
