html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container, .container > iframe {
  height: inherit;
}

.container > iframe {
  width: 100%;
}

#bSubmitReservationOptions {
  text-align: right;
}

#ddForm {
  height: 100%;
  width: 100%;
}

#optionsReservation {
  float: left;
}

#appTitle {
  text-align: center;
}

#login {
  float: right;
}
